@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla-Regular.woff2') format('woff2'),
        url('/fonts/Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla-MediumItalic.woff2') format('woff2'),
        url('/fonts/Karla-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-ExtraBold.woff2') format('woff2'),
        url('/fonts/Spectral-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

