@font-face {
    font-family: 'Karla';
    src: url("/Fonts/Karla-Regular.woff2") format('woff2'),
        url("/Fonts/Karla-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url("/Fonts/Karla-MediumItalic.woff2") format('woff2'),
        url("/Fonts/Karla-MediumItalic.woff") format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spectral';
    src: url("/Fonts/Spectral-ExtraBold.woff2") format('woff2'),
        url("/Fonts/Spectral-ExtraBold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

